<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cell Phone Churning</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
  </head>
  <body class="bg-info">
    <div class="container">
      <h1 class="display-1 text-center">Cell Phone Churning</h1>
      <br />
      <div class="row">
        <div class="col">
          <form
            action="/predict"
            method="POST"
            class="bg-primary p-3 mb-2 rounded border border-danger"
          >
            <div class="row">
              <div class="col-6">
                <label for="day_charge" class="form-label text-light"
                  >Daytime Charges:</label
                >
                <input
                  type="number"
                  name="day_charge"
                  class="form-control"
                  min="1"
                  required
                />
              </div>
              <div class="col-6">
                <label for="eve_charge" class="form-label text-light"
                  >Evening Charges:</label
                >
                <input
                  type="text"
                  name="eve_charge"
                  class="form-control"
                  required
                />
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <label for="night_charge" class="form-label text-light"
                  >Nighttime Charges:</label
                >
                <input
                  type="number"
                  name="night_charge"
                  class="form-control"
                  min="0"
                  required
                />
              </div>
              <div class="col-6">
                <label for="intl_charge" class="form-label text-light"
                  >International Charges:</label
                >
                <input
                  type="number"
                  name="intl_charge"
                  class="form-control"
                  min="0"
                  required
                />
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <label for="custserv_calls" class="form-label text-light"
                  >Customer Service Calls:</label
                >
                <input
                  type="number"
                  name="custserv_calls"
                  class="form-control"
                  min="0"
                  required
                />
              </div>
              
            </div>
            <br />
            <button type="submit" class="btn btn-success btn-lg col-12">
              Predict
            </button>
          </form>
        </div>
        <div class="col">
          {% if prediction_test %}
          <div class="card bg-primary border border-danger">
            <div class="card-body">
              <h5 class="card-title">Prediction Result</h5>

              <p
                class="card-text display-6 bg-success p-3 mb-2 rounded text-white"
              >
                Customer will churn: {{prediction_test }}
                <!-- The predicted house value is ${{ prediction_test }} -->
              </p>
           
            </div>
            <div
              class="card-footer text-body-secondary card-subtitle text-body-secondary"
            >
              NOTE: Accuracy of around 92%
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>